.body{
  width: 100;
  height: 100%;
  text-align: center;
}

.centralDiv{
margin-top: 20%;
height: 60%;
width: 90%;
max-width: 600px;
display: inline-block;
text-align: center;
}

.textCenter{
  text-align: center;
}
