<div class="maindiv">
    <div class="back">
        <mat-icon aria-hidden="false" aria-label="Example home icon" class="backHome" routerLink="/">arrow_back</mat-icon>
    </div>
      <div class="center">
        <div class="smallerCenter">
        <a>
          Para cualquier duda, sugerencia, no dude en escribirnos al correo: team@ritadivision.com y responderemos a la mayor brevedad posible
        </a>
      </div>

      </div>
      <div class="footer">
          <a class="footerText">
            With
              <mat-icon class="iconProduct love" aria-hidden="false" aria-label="Example home icon">favorite_border</mat-icon>
            from España</a>
        </div>
    </div>
