<div class="body">
    <h2 mat-dialog-title>Obtener código QR Gratis</h2>
    <mat-dialog-content class="text">
      <a class="normal">
        1. Registra tu establecimiento en youCarta.com
        <br><br>
        2. Inicia sesión en youCarta.com
        <br><br>
        3. Completa el perfil de tu establecimiento
        <br><br>
        4. Escríbenos a team@ritadivision.com o por whatsapp: 642 880 460 y te lo mandamos en pocos minutos.
        <br><br>
        <br><br>


      </a>
      </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-raised-button [mat-dialog-close]="true" color="primary">Cerrar</button>
    </mat-dialog-actions>
</div>
