body{
  width: 100%;
  height: 100%;
  text-align: center;
}

.textDiv{
  margin-top: 30%;
  width: 100%;
  text-align: center;
  display: inline-block;
}

.text{
  text-align: center;
}

.session{
  text-align: center;
}
