.full {
    min-height: 100%;
    height: 100%;
    min-width: 100%;
    width: 100%;
    /* background-image: url("src/assets/images/869.jpg");
    background-repeat: no-repeat; */
  }

  .logoDiv{
    width: 100%;
    text-align: center;
  }

  .logoImage{
    width: 100px;
    height: 100px;
  }

.body{
  height: 95%;
  width: 100%;
  text-align: center;
}

.search{
  display: inline-block;
  width: 90%;
  max-width: 600px;

}

.box{
  width: 100%;
}

.establecimiento{
  margin-right: 30px;
  font-size: 12px;
  margin-top: 30px;
  cursor: pointer;
}

.estLi{
  list-style-type: none;
}
.address{
  color: lightslategrey;
  margin-left: 5px;
  float: left;
  font-size: 14px;
}

.profile{
  width: 42px;
  height: 42px;
  object-fit: cover;
  border-radius: 10%;
  margin-left: 5px;
  float: left;
  position: relative;
}

.text{
  position: relative;
  margin-left: 5px;
}

.results{
}

.nameUser{
  display: table;
  position: relative;
  font-size: 14px;
  margin-left: 47px;
  padding-top: 0px;
}

.name{
  width: 100%;
  cursor: pointer;
  text-align: left;
}

.footer{
width: 100%;
height: 5%;
background-color: #F2F2F2;
vertical-align: middle;
display: inline-table;
padding-top: 2px;
}

.footerText{
  margin-left: 15px;
  display: inline-table;
  color: lightslategrey;
  vertical-align: middle;
}
.love{
  display: inline-table;
  vertical-align: middle;
  color: #419a1c;
}

.contactarText{
  color: lightslategrey;
  cursor: pointer;
}
