.maindiv {
  width: 100%;
  height:100%;
  text-align: center;
  position: relative;
  vertical-align: middle;
}

.back{
  position: absolute;
  float: left;
  width: 50px;
  height: 50px;
  margin-left: 0px;
  margin-top: 10px;
}

.backHome{
  cursor: pointer;
}

.center{
  margin-top: 20%;
  display: inline-block;
  text-align: center;
  width: 80%;
  vertical-align: middle;
}

.textTitle{
  font-size: 14px;
}

.text{
  font-size: 12px;
}

.footer{
  margin-top: 10%;
  max-width: 500px;
  width: 80%;
  background-color: #F2F2F2;
  vertical-align: middle;
  display: inline-table;
  padding-top: 2px;
  }

  .footerText{
    margin-left: 15px;
    display: inline-table;
    color: lightslategrey;
    vertical-align: middle;
  }
  .love{
    display: inline-table;
    vertical-align: middle;
    color: #419a1c;
  }
