<div class="maindiv">
    <div class="back">
        <mat-icon aria-hidden="false" aria-label="Example home icon" class="backHome" routerLink="/">arrow_back</mat-icon>
    </div>
      <div class="center">
        <div class="smallerCenter">
          <a class="textTitle">
            Hola mundo!
          </a>
          <br>
        <a class="text">
            youCarta surgió como alternativa a las cartas tradicionales de papel, de los restaurantes y bares.</a>
        <br><br>
        <a class="textTitle">
            ¿How much?
          </a>
          <br>
        <a class="text">
            youCarta es gratuita tanto para los bares como para los usuarios.
          </a>
        <br><br>
        <a class="textTitle">
            hmm…¿y por que youCarta?
          </a>
          <br>
        <a class="text">
            Porque trae innovación en cuanto a las operaciones de los establecimientos, puede ayudar a captar nuevos clientes y ayuda a reducir el consumo de papel.</a>
        <br><br>
        <a class="textTitle">
            ¿y luego?
          </a>
          <br>
        <a class="text">
            Con youCarta creemos que no hay limite en cuanto a la innovación que puede aportar y vamos hacía una personalización de los productos y de los precios para adentrarnos en el revenue management en este sector.         </a>
      </div>

      </div>
      <div class="footer">
          <a class="footerText">
            With
              <mat-icon class="iconProduct love" aria-hidden="false" aria-label="Example home icon">favorite_border</mat-icon>
            from España</a>
        </div>
    </div>
