.maindiv {
  width: 100%;
  height:100%;
  text-align: center;
  position: relative;
}
.left-side{
  max-width: 600px;
  width: 80%;
  height: 60%;
  padding: 0px;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


.title{
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 5%;
  float:left;
}
.wrap-login {
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 60%;
  float: left;
}
.email{
  display: inline-block;
  margin-top: 30px;
  width: 100%;
  text-align: center;
  float: left;
}

.password{
  margin-top: 30px;
  margin-bottom: 20px;
  display: inline-block;
  width: 100%;
  text-align: center;
  float: left;
}
.button{
  width: 100%;
  float: left;
  display: inline-block;
  text-align: center;
  margin-bottom: 20px;
}
.title-text {
  font-size: 20px;
  font: Arial;
}
.forgot {
  width: 100%;
  margin-top: 30px;
  text-align: center;
  justify-content: center;
  align-content: center;
  float: left;
}
.nav-link{
  width: 200px;
  text-align: center;
  display: inline;
}

.nuevaCuenta{
  width: 100%;
  display: inline-block;
}

.back{
  position: absolute;
  float: left;
  width: 50px;
  height: 50px;
  margin-top: 10px;
}

.backHome{
  cursor: pointer;
}

.ihavebar{
  margin-top: 30px;
  float: right;
}
.establecimiento{
  margin-right: 30px;
  font-size: 13px;
  margin-top: 20px;
  cursor: pointer;
  color: #419a1c;
}
.love{
  display: inline-table;
  vertical-align: middle;
  color: #419a1c;
}
