<div class="body">

<h2 mat-dialog-title>Terminos y condiciones</h2>
<mat-dialog-content class="text">
  <a class="normal">
    Los presentes términos y condiciones (en lo sucesivo los "Términos y Condiciones de la Aplicación") contienen los acuerdos que rigen (i) la relación entre YouCarta (en lo sucesivo: la Sociedad), con las personas (en lo sucesivo: el o los Usuario(s)) que descarguen o se subscriban a cualesquier aplicación desarrollada por la Sociedad (en lo sucesivo: la o las Aplicación(es)), (ii) así como las marcas, los productos y los servicios que preste la Sociedad (en lo sucesivo: los Servicios). Al descargar la Aplicación o al Subscribirse en la versión web, el Usuario deberá manifestar su aceptación de los presentes Términos y Condiciones de la Aplicación a efecto de poder usar la Aplicación, y en caso de que no los acepte, el Usuario deberá de abstenerse de usar la Aplicación.
    <br>
    <br>
    Cualesquier término no definido en los presentes Términos y Condiciones de la Aplicación se entenderán definidos en los Términos y Condiciones del Sitio. Cualquier cuestión no prevista por los Términos y Condiciones de la Aplicación, los Términos y Condiciones del Sitio se aplicarán de forma supletoria. En caso de interpretación o controversia con entre los Términos y Condiciones de la Aplicación y los Términos y Condiciones del Sitio, prevalecerán los últimos sobre los primeros.
    <br>
    <br>
  </a>
  <a class="capitulo">
      Servicios
  </a>
  <a class="normal">
      <br>
    La Sociedad pone a disposición del Usuario, o de las personas que éste designe de tiempo en tiempo (el o los Autorizado(s)), la presente Aplicación para que la Sociedad pueda realizar de manera eficiente la prestación de los Servicios.
    <br><br>
    La Aplicación de Sociedad proporcionará al Usuario los servicios de elaboración de formularios, recolección de datos en campo y visualización de resultados en tiempo real para proporcionar al Usuario información cualitativa y cuantitativa a través de los resultados obtenidos con la utilización de la misma por parte del Usuario o los Autorizados.
    <br><br>
    Los datos ingresados por los Usuarios a través del Sitio Web y obtenidos por la Sociedad serán almacenados bajo estándares internacionales de alta seguridad, los cuales ayudaran a la prestación de los Servicios por medio de la Aplicación.
    <br><br>
    Para que la Sociedad pueda prestar los Servicios, el Usuario se obliga a ingresar los datos solicitados en el Sitio Web y la Sociedad podrá asignarle una clave de usuario y una contraseña para que el Usuario ingrese de tiempo en tiempo a su cuenta respectiva. Asimismo, la Sociedad podrá otorgar a los Usuarios un código y un nombre de dispositivo para que los Autorizados puedan acceder, en cualquier lugar, por medio de su dispositivo móvil, a la Aplicación.
    <br><br>
    El Usuario o los Autorizados podrán realizar a través de la Aplicación lo siguiente:
    <br><br>
    1.Crear una cuenta para su establecimiento<br>
    2.Ingresar sus datos de localización<br>
    3.Proporcionar información sobre los productos que su establecimiento ofrece así como los costes asociados.
    <br>
    4.Mostrar fotografías de sus productos.<br>
    5.Hacer sus productos publicos.<br>
    6.Cualquier otro que la Sociedad considere necesario, de tiempo en tiempo, para prestar los Servicios.
    <br><br>

    Cuando el Usuario descarga o utiliza la Aplicación, ésta puede solicitar al Usuario permiso para acceder al contenido e información de su dispositivo móvil. Exigimos que las Aplicaciones respeten la privacidad del Usuario, y los permisos que otorgue el Usuario a la Aplicación controlarán el modo en el que ésta use, almacene y transfiera dicho contenido e información.
    <br><br>
    La Aplicación podrá solicitar acceso a cualquier función del dispositivo móvil del Usuario o los Autorizados. El Usuario o los Autorizados podrán dar el permiso para que la Aplicación acceda a las funciones. El Usuario y los Autorizados reconocen y acuerdan que, en caso de que no autoricen el acceso de la Aplicación a cualquier función del dispositivo móvil, la Sociedad no podrá realizar de forma satisfactoria la prestación de los Servicios, y en este acto, la Sociedad y los Autorizados reconocen y acuerdan que no realizarán reclamación alguna, ya sea judicial o extrajudicial, por cualquier falla u omisión en la prestación de los Servicios, derivado de dicho supuesto previamente mencionado, deslindando a la Sociedad de cualquier daño o perjuicio que pudiera ocasionar dicho supuesto.
    <br><br>
    La Aplicación podrá solicitar, a través del dispositivo móvil, por medio de cualesquier programa o software, la ubicación del Usuario o los Autorizados.
  <br><br>
  </a>

  <a class="capitulo">
    Privacidad
  </a>
  <a class="normal">
    <br>
    En YouCarta, nos preocupamos por su privacidad. Esta política describe el qué, quién y por qué recogemos y utilizamos sus datos de carácter personal, cómo los protegemos y cómo puede ponerse en contacto con nosotros.
    <br><br>
    En ese sentido, esta política regula el tratamiento de datos llevado a cabo por YouCarta a través de este Sitio Web (de aquí en adelante, el Sitio Web).
    <br><br>
    Esta política cubre el tratamiento de datos de carácter personal de (i) clientes y/o potenciales clientes, (ii) proveedores y/o potenciales proveedores y (iii) candidatos que deseen ser futuros empleados que accedan o transmitan información a través del Sitio Web. Por lo tanto, esta política proporciona información respecto al tratamiento de diferentes categorías de afectados indicadas anteriormente.
    <br><br>
    Si usted es usuario que no forma parte de ninguna de las categorías previamente listadas, absténgase de contactar o proporcionar sus datos de carácter personal a YouCarta. En cualquier caso, se le informa de que, si contacta con YouCarta fuera de los casos mencionados, sus datos serán suprimidos automáticamente.
    <br><br>
  </a>

  <a class="capitulo">
    1. ¿Cuáles son las finalidades y base legitimadora para el tratamiento de sus datos llevado a cabo por YouCarta?
  </a>
  <a class="normal">
    <br>
    Los datos que YouCarta solicita o pueda solicitar de usted son necesarios para las finalidades descritas en esta política y no proporcionarlos puede llevar a que YouCarta no pueda contactarle o gestionar sus solicitudes.
    <br><br>
    YouCarta se reserva el derecho a no responder o tramitar solicitudes que no incluyen todos los datos solicitados.
    <br><br>
    Al proporcionar sus datos a YouCarta, garantiza la veracidad de los mismos y acepta que YouCarta pueda periódicamente solicitar la revisión y actualización de los datos que mantiene.
    <br><br>
  </a>
  <a class="capitulo">
    1.1. En el caso de que sea un cliente o potencial cliente de YouCarta.
  </a>
  <a class="normal">
    <br><br>
    En este Sitio Web, puede encontrar información que puede resultar útil con el fin de aprender sobre los servicios ofrecidos por YouCarta. En este sentido, YouCarta solo le solicitará y, por lo tanto, tratará los datos necesarios para proporcionarle los servicios que contrató o para ser capaz de iniciar y mantener una relación comercial y/o contractual con usted.
    <br><br>
    Más aún, las finalidades para las que sus datos pueden ser tratados por YouCarta y la base legitimadora para dicha finalidad es la siguiente:
    <br><br>
    1.Ejecución de un contrato entre usted y YouCarta o aplicación de medidas precontractuales:
    <br><br>
    2.Gestionar la relación contractual con usted y asegurar la prestación de los servicios y productos contratados, lo cual incluye mostrar los productos de su establecimiento, como la calidad del servicio, la facturación, recogida y retirada de los mismos. 
    <br><br>
    3.Gestionar la relación comercial con clientes potenciales, atendiendo a solicitudes de información sobre productos y servicios ofrecidos por YouCarta. 
    <br><br>
    4.Gestionar y tramitar cualquier reclamación legal, reclamación extrajudicial y reclamación de seguros recibida por YouCarta en relación con usted. 
    <br><br>
  </a>
  <a class="capitulo">
    Consentimiento:
  </a>
  <a class="normal">
    <br><br>
    Llevar a cabo comunicaciones comerciales a usted por cualquier medio, incluyendo medios electrónicos, basados en sus datos de navegación y/o hábitos de consumo. Dichas comunicaciones pueden referirse a publicidad o material de promoción en productos y servicios que estén considerados de su interés con base en los criterios citados.
    <br><br>
  </a>
  <a class="capitulo">
    Intereses legítimos de YouCarta:
  </a>
  <a class="normal">
      <br><br>
    Llevar a cabo comunicaciones comerciales relacionadas con productos y servicios similares a aquellos que usted haya contratado. En este caso, el interés legítimo de YouCarta sería llevar a cabo actividades de marketing directo dirigidas a sus clientes, de acuerdo con el Considerando 47 del Reglamento General de Protección de Datos. 
    <br><br>
    Realizar encuestas y estudios de mercado para conocer la calidad de nuestros productos o servicios y la preferencia de nuestros clientes. El interés legítimo de YouCarta es mejorar la oferta comercial y experiencia con sus clientes.
    <br><br>
  </a>
  <a class="capitulo">
    1.2. En el caso de que sea un proveedor o potencial proveedor de YouCarta
  </a>
  <a class="normal">
      <br><br>
    A través de este Sitio Web, puede encontrar información que le puede resultar de utilidad con el fin der informado de la actividad de YouCarta. Para dicha finalidad, si usted fuera o representara a un proveedor o a un posible proveedor de YouCarta y decidiera contactar con YouCarta, los datos que van a ser tratados serán aquellos necesarios para iniciar y mantener una relación contractual con usted, en caso de que fuera un empresario individual, o con la empresa que usted represente.
    En este sentido, las finalidades para las que sus datos pueden ser tratados por ROIBACK y la base legitimadora para dicho tratamiento es la siguiente:
    Ejecución de un contrato entre usted y YouCarta o aplicación de medidas precontractuales:
    Gestionar la relación con potenciales proveedores, en función de las solicitudes de información.
    Formalizar la relación contractual, que incluye el proceso de contratación y firma de contratos.
    Gestionar la relación contractual con los proveedores de YouCarta, que incluye el seguimiento de la relación y su pago.
    <br><br>
  </a>
  <a class="capitulo">
    1.3. En el caso de que sea candidato a un empleo en YouCarta y contacte con YouCarta a través de su Sitio Web
  </a>
  <a class="normal">
      <br><br>
    A través de este Sitio Web, puede contactar con YouCarta en caso de que desee entregar su CV para participar en los procesos de selección que pudieran ser llevados a cabo para incorporar nuevo personal a la empresa. Para dicha finalidad, YouCarta solicitará y, por lo tanto, tratará los datos necesarios para gestionar su posible participación en procesos de selección, así como para mantenerle informado de los posibles procesos de selección en que usted pudiera encajar en un futuro.
    <br><br>
    <br><br>

    En este sentido, las finalidades para las que sus datos pueden ser tratados por YouCarta y la base legitimadora para dicho tratamiento es la siguiente:
    <br><br>
    1.Ejecución de un contrato entre usted y YouCarta o aplicación de medidas precontractuales: 
    <br>
    2.Gestionar el proceso de selección de personal de YouCarta, que incluirá la revisión del Curriculum Vitae y la realización de entrevistas personales. 
    <br>
    3.Formalizar la relación contractual, que incluirá el proceso de contratación y firma de contratos laborales. 
    <br><br>
  </a>
  <a class="capitulo">
    1.4. Tratamiento de datos asociado a la mera navegación por el Sitio Web
  </a>
  <a class="normal">
      <br><br>
    Con el fin de mejorar nuestros servicios, para proporcionarle un contenido más relevante y para analizar cómo usan los visitantes este Sitio Web, podemos utilizar tecnologías, como cookies o software de rastreo. Tenga en cuenta que en la mayoría de los casos no podremos identificarle por la información que obtengamos mediante el uso de dichas tecnologías.
    <br><br>
    Respecto al uso de cookies en este Sitio Web, tenga en cuenta que estas son pequeños trozos de información almacenados por su navegador en el disco duro de su ordenador. Le permiten navegar en este Sitio Web y nos permiten proporcionarle características como recordar aspectos de su última búsqueda para realizar búsquedas subsiguientes de forma más rápida. Si lo desea, puede eliminar las cookies. Mientras ciertas cookies resultan necesarias para visión y navegación en este Sitio Web, la mayoría de las características seguirán siendo accesibles sin cookies.
    <br><br>
  </a>
  <a class="capitulo">
    2. ¿Quiénes son los terceros con quiénes se pueden compartir sus datos?
  </a>
  <a class="normal">
      <br><br>
    Los datos de carácter personal que proporciona a YouCarta pueden ser comunicados a las siguientes categorías de destinatarios:
    <br>
    - Terceros a quiénes YouCarta está obligada a transmitir información, como autoridades públicas, con el fin de cumplir con los requisitos de dichas autoridades y las regulaciones aplicables, según el caso.
    <br>
    - Compañías que forman parte del grupo YouCarta, con el fin de ser capaces de gestionar adecuadamente y optimizar su relación contractual como resultado de la centralización de los procesos administrativos e informáticos existentes dentro del Grupo.
    También le informamos de que Grupo Hotelbeds puede contar o colaborar con compañías fuera de la Unión Europea. En cuyo caso, YouCarta, necesita que dichas compañías cumplan con las medidas diseñadas para proteger datos de carácter personal establecidos en un contrato vinculante, excepto en casos en que la Comisión Europea haya determinado que el país en que se sitúan dichas compañías proporciona un nivel de protección para los datos de carácter personal adecuado.
    Si lo desea, puede obtener una copia de las medidas que YouCarta requiere contactando a nuestro Delegado de Protección de Datos a través de los datos de contacto indicados más adelante.
    <br><br>
  </a>
  <a class="capitulo">
    3. ¿Cómo protege sus datos YouCarta?
  </a>
  <a class="normal">
      <br><br>
    YouCarta tiene políticas apropiadas y ha puesto en pie medidas técnicas y organizativas para salvaguardar y proteger sus datos de carácter personal de acceso no autorizado o ilegal, pérdida o destrucción accidental, daño, uso y revelación ilícita o no autorizada.
    <br><br>
    En YouCarta, también adoptaremos todas las precauciones razonables para asegurar que nuestro personal y empleados que tengan acceso a sus datos de carácter personal hayan recibido una formación adecuada.
    <br><br>
    En cualquier caso, tenga en cuenta que cualquier transmisión de datos a través de Internet no es totalmente segura y, por lo tanto, debe llevarse a cabo bajo su propia responsabilidad. Aunque nos esforcemos por proteger sus datos, YouCarta no puede garantizar la seguridad de los datos de carácter personal transmitidos a través de este Sitio Web.
    <br><br>
  </a>
  <a class="capitulo">
    4. ¿Durante cuánto tiempo retiene YouCarta sus datos?
  </a>
  <a class="normal">
      <br><br>
    El periodo de retención de sus datos será determinado según la duración de su relación contractual con YouCarta y los plazos definidos por ley. En este sentido, los criterios que YouCarta utiliza para establecer los términos de retención de sus datos han sido determinados de acuerdo con los requisitos de YouCarta relacionados con la correcta gestión de la relación con sus clientes. Sus datos serán almacenados desde el momento en que dé su consentimiento hasta el momento en que revoque dicho consentimiento.
    <br><br>
  </a>
  <a class="capitulo">
    5. ¿Cómo puede ejercitar sus derechos relativos a sus datos de carácter personal?
  </a>
  <a class="normal">
      <br><br>
    Puede ejercitar sus derechos de acceso, rectificación, cancelación, oposición, limitación y portabilidad, así como revocar en cualquier momento los consentimientos que nos haya dado previamente, por correo electronico a team@ritadivision.com. Si lo desea, también, también puede contactar con nuestro Delegado de Protección de Datos a través de los datos de contacto indicados más adelante.
    <br>
    Asimismo, en su caso, puede presentar una reclamación ante la Agencia Española de Protección de Datos, especialmente si considera que no hemos respondido adecuadamente a sus derechos.
  </a>
  <a class="capitulo">
    6. ¿Cómo puede contactar con nosotros?
  </a>
  <a class="normal">
      <br><br>
    Si tiene preguntas o comentarios en relación con materias de protección de datos, puede contactar con nuestro Delegado de Protección de Datos, cuyos datos de contacto son: Berger Sergiu team@ritadivision.com
  </a>

  <a class="capitulo">
    Uso del contenido y la información
  </a>
  <a class="normal">
      <br><br>
    El Usuario es propietario de todo el contenido y la información que proporciona a la Sociedad. Se recopilan diferentes tipos de información relacionada con el Usuario o los Autorizados en función de los Servicios que use.
    <br><br>
    La Sociedad recopila todos los datos que el Usuario o los Autorizados proporcionan al usar los Servicios o la Aplicación, así como información sobre el modo en que el Usuario y los Autorizados usan los Servicios. Además, la Sociedad recopila información acerca de las computadoras, los teléfonos u otros dispositivos en los que el Usuario o los Autorizados instalan la Aplicación, así como los datos generados por dichos dispositivos, en función de los permisos que el Usuario o los Autorizados concedan.
    <br><br>
    El Usuario y el Autorizado acuerdan y consienten que, con el solo hecho de instalar cualquier Aplicación, acepta que los datos e información que proporcionen a la Sociedad, así como cualesquier registro que la Sociedad obtenga por prestar los Servicios, pertenecerán en forma exclusiva a ésta, por lo que la Sociedad será propietaria de dicha información o datos proporcionados por el Usuario o el Autorizado, quienes en este acto renuncian a cualesquier acción o reclamo derivado por la transmisión de dicha información.
    <br><br>
    En el caso de que el Usuario o el Autorizado, por cualquier causa, proporcione, de cualquier forma, a la Sociedad cualquier marca, patente, nombre comercial, aviso comercial, signo distintivo, o cualesquier otro derecho de propiedad industrial o intelectual (en lo sucesivo "Contenido de PI"), le concede a la Sociedad una licencia no exclusiva, transferible, con derechos de sublicencia, libre de regalías y aplicable en todo el mundo para utilizar cualquier Contenido de PI. Esta licencia finaliza cuando el Usuario da por terminado los presentes Términos y Condiciones de la Aplicación mediante aviso por escrito a la Sociedad.
    <br><br>
    La Sociedad no garantiza que la Aplicación sea siempre segura, libre de errores, y que funcione sin interrupciones, retrasos o imperfecciones. La Aplicación podrá actualizarse de tiempo en tiempo previa autorización por parte del dueño del dispositivo móvil donde sea instalada o sin ninguna autorización en caso de la versión web. El Usuario y el Autorizado reconocen y acuerdan que, en caso de que no actualizan la Aplicación, la misma podrá presentar fallas y errores, entorpeciendo la prestación de los Servicios por parte de la Sociedad; derivado de lo anterior, el Usuario y el Autorizado deslindan a la Sociedad de cualquier falla, daño o perjuicio que lo anterior pudiera ocasionarles y se abstendrán de presentar cualquier reclamación, ya sea judicial o extrajudicial, derivado de dicho supuesto.
    <br><br>
    Con sujeción al cumplimiento de los Términos y Condiciones de la Aplicación, la Sociedad le concede al Usuario o a los Autorizados, una licencia limitada, no exclusiva y no transferible, para descargar e instalar una copia de la Aplicación en cada dispositivo móvil u ordenador que sea de su propiedad o controle, así como ejecutar dicha copia de la Aplicación exclusivamente para su propio uso personal. La licencia anterior no se entiende aplicable a los Servicios que realiza la Sociedad.
    <br><br>
    Acceso y descarga de la aplicación desde iTunes o Android
    El Usuario reconoce y acepta en cumplir con todos los términos y condiciones aplicables respecto a la obtención, descarga y actualización de la Aplicación que las empresas conocidas como iTunes o Android, respectivamente, determinen.
  </a>
  <a class="capitulo">
    Seguridad
  </a>
  <a class="normal">
      <br><br>
    La Sociedad, en la medida de lo posible, realizará los actos necesarios para que la Aplicación proteja toda la información y bases de datos que haya proporcionado a la Sociedad. Independientemente de lo anterior, el Usuario y el Autorizado deberán realizar lo siguiente:
    <br>
    1.- No ingresar a la Aplicación virus ni códigos maliciosos de ningún tipo.
    <br>
    2.- No solicitar información de inicio de sesión ni acceder a una cuenta perteneciente a otro Usuario.
    <br>
    3.- No utilizar la Aplicación para actos ilícitos, engañosos, malintencionados o discriminatorios.
    <br>
    4.- No realizar ninguna acción que pudiera inhabilitar, sobrecargar o afectar al funcionamiento correcto de la Aplicación o a su aspecto.
    <br>
    5.- No proporciona nombres y datos falsos.
    <br>
    6.- No proporcionar información personal falsa, ni crear una cuenta para otras personas sin su autorización.
    <br>
    7.- No crear más de una cuenta personal.
    <br>
    8.- No crear otra cuenta sin el permiso de la Sociedad, en caso de que la Sociedad inhabilite la cuenta del Usuario.
    <br>
    9.- No utilizar los Servicios o la Aplicación si el Usuario o el Autorizado son menores de 18 años. 10.- No transferir la cuenta de usuario que administre a nadie sin el previo consentimiento por escrito de la Sociedad.
    <br>
    11.- No publicar contenido ni realizar ninguna acción en la Aplicación que infrinja o vulnere los derechos de terceros o que vulnere cualesquier ley de algún modo.
    <br>
    12.- La Sociedad podrá retirar cualquier contenido o información que ingrese a la Aplicación, sí la Sociedad considera que infringe cualesquier política.
    <br>
    13.- No utilizar las marcas, signos distintivos, nombres comerciales, derechos de autor, o cualesquier otro derecho de propiedad intelectual o industrial, salvo previo consentimiento por escrito de la Sociedad.
    <br><br>
  </a>
  <a class="capitulo">
    Modificaciones
  </a>
  <a class="normal">
    <br><br>
    En caso de que la Sociedad realice alguna modificación a los presentes Términos y Condiciones de la Aplicación, notificará al Usuario de las mismas en un periodo de 10 (diez) días naturales después de haber hecho dichas modificaciones, a efecto de que el Usuario de su consentimiento expreso o tácito, o en su caso solicite la terminación de los mismos.
    <br><br>
    Si la Sociedad realiza cambios en las políticas, normas u otras condiciones a las que hacen referencia estos Términos y Condiciones de la Aplicación, podremos indicarlo en el Sitio Web.
    <br><br>
    El uso continuado por parte del Usuario de los Servicios o de la Aplicación, después de recibir la notificación sobre los cambios en los Términos y Condiciones de la Aplicación, políticas o normas supone la aceptación de las modificaciones.
    <br><br>
    El Usuario o los Autorizados no podrán ceder los derechos y obligaciones derivados de los presentes Términos y Condiciones de la Aplicación, sin el previo consentimiento por escrito otorgado por la Sociedad. La Sociedad podrá ceder las obligaciones y derechos derivados de los presentes Términos y Condiciones de la Aplicación a cualquier tercero sin el previo consentimiento por parte de los Usuarios o los Autorizados.
    <br><br>
    El Usuario y los Autorizados acuerdan que los presentes Términos y Condición de la Aplicación regulan el uso de la Aplicación, y por ningún motivo sustituyen cualquier contrato, convenio o acuerdo previamente firmado con la Sociedad.
    <br><br>
  </a>
  <a class="capitulo">
    Terminación
  </a>
  <a class="normal">
      <br><br>
    Si el Usuario infringe los Términos y Condiciones de la Aplicación, crea riesgos de cualquier tipo para la Sociedad o la expone a posibles responsabilidades jurídicas, la Sociedad podrá impedir el acceso al Usuario al Sitio Web o a la Aplicación total o parcialmente. La Sociedad notificará por correo electrónico o la próxima vez que el Usuario intente acceder a su cuenta. El Usuario podrá eliminar su cuenta o desactivar su Aplicación en cualquier momento. Independientemente de lo anterior, la sociedad se reserva el derecho de ejercer cualquier acción legal aplicable.
    <br><br>
  </a>
  <a class="capitulo">
    Conflictos
  </a>
  <a class="normal">
      <br><br>
    El Usuario se obliga a sacar en paz y a salvo a la Sociedad sus afiliadas, directivos, accionistas, empleados y a pagar cualesquier gasto, pérdida, daños (incluidos los costos y honorarios judiciales) de cualquier demanda, causa de acción o conflicto que interponga un tercero (en lo sucesivo la "Demanda"), que pudiera surgir derivada de las acciones, contenido o información en el Sitio Web o la Aplicación. Asimismo, para el caso de interpretación, cumplimiento o conflicto de los presentes Términos y Condiciones de la Aplicación, el Usuario y la Sociedad se sujetan a las leyes aplicables de Constanta, Rumania, renunciando a cualquier fuero que pudiera corresponderles por razón de sus domicilios, presentes o futuros o por cualesquier otra causa.
    <br><br>
  </a>
  </mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button [mat-dialog-close]="true" color="primary">Cerrar</button>
</mat-dialog-actions>

</div>
