<!-- Profile info and profile actions -->
<div class="body">
    <div class="header">
      <div class="pic">
         <img *ngIf="this.image" [src]="this.image" class="profile">
      </div>
      <div>
        <div>
                <mat-icon aria-hidden="false" aria-label="Example home icon" class="dotsProfileIcon" routerLink="/home">arrow_back_ios</mat-icon>
        </div>
      </div>
      <div class="name">
            <a class="nameUser">{{name}}</a><br>
            <a class="address">{{direccion}}</a>
        <div class="icons">

            </div>
    </div>

    <div class="middle">
        <div class="categoriesAll">
      <ng-container *ngFor="let cat of categoryList">
        <ng-container *ngIf="cat.numberProducts !== 0">

      <li class="list-group-item categoryContainer" [ngClass]="{'noExpandedCategoryDiv':!makeViewMore(cat), 'expandedCategoryDiv':makeViewMore(cat)}">
        <div class="divCategory">

          <div class="categoryTitleDiv">
            <a [ngClass]="{'categoryTitle':!makeViewMore(cat), 'expandedCategoryTitle':makeViewMore(cat)}">{{cat.category}}</a>
          </div>
      <mat-icon aria-hidden="false" aria-label="Example home icon" class="expand" *ngIf="!makeViewMore(cat)" (click)="selectViewMore(cat)">expand_more</mat-icon>
      <mat-icon aria-hidden="false" aria-label="Example home icon" class="expand" *ngIf="makeViewMore(cat)"  (click)="unselectViewMore()">expand_less</mat-icon>
        </div>


    <!-- All Products  -->

        <div class="collapsed" *ngIf="!makeViewMore(cat)">
        </div>
        <div class="expanded" *ngIf="makeViewMore(cat)">

            <ng-container class="list-group-item" *ngFor="let prod of productListPerCat">
              <ng-container *ngIf="prod.categoryId === cat.id">

                <li class="list-group-item">
                  <div class="divProducts">
                      <div class="textPro">
                                <a class="textProducts">{{prod.title}}</a>
                                <div class="imageDiv" *ngIf="prod.image">
                                    <mat-icon aria-hidden="false" aria-label="Example home icon" class="iconPic" (click)="openPicture(prod)">photo</mat-icon>
                                </div>
                                <div *ngIf="isPictureOpen" class="popUpImage">
                                  <div class="shadow" (click)="closePicture()"></div>
                                  <mat-icon aria-hidden="false" aria-label="Example home icon" class="clearPic" (click)="closePicture()">clear</mat-icon>
                                  <div class="imageDiv">
                                      <img class="image" [src]=pictureSelected.image>
                                    </div>
                                </div>
                          <div class="textDescDiv">
                          <p class="textDescription">{{prod.description}}</p>
                          </div>
                      </div>

                      <div class="divPrice">
                          <a class="textProductsPrice">{{prod.price}}€</a>
                      </div>
                  </div>
                </li>

            </ng-container>
        </ng-container>
        </div>


          <!-- Text to display if there are no categories -->


       </li>
      </ng-container>
      </ng-container>
       <div class="textPrincipio" *ngIf="!categoryList || categoryList.length === 0">
          <div class="principioHeader">
              <mat-icon aria-hidden="false" aria-label="Example home icon">hourglass_empty</mat-icon>
            </div>

      </div>
  </div>
</div>
<div class="footer">
    <a class="footerText">
      With
        <mat-icon class="iconProduct love" aria-hidden="false" aria-label="Example home icon">favorite_border</mat-icon>
      from youCarta</a>
  </div>
